<div class="row row-cols-1 row-cols-md-4 g-4">

@foreach (var p in prodotti)
{
    <ProdottoPreview prodotto="@p" />
}

</div>

@code {
    List<ProdottoModel> prodotti = [
        new ProdottoModel{ Id=1, Nome="Ciabatte" },
        new ProdottoModel{ Id=2, Nome="Bicicletta" }
    ];
}
