@inject IECService ecService

@if (prodotti.Count == 0)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var p in prodotti)
        {
            <ProdottoPreview prodotto="@p" />
        }
    </div>
}


@code {
    public List<ProdottoModel> prodotti { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        prodotti = await ecService.GetProdotti();
    }
}
